pre {
	overflow: auto;
	font-family: Consolas, "Courier New", Courier, monospace;
	font-size: 0.75rem !important;
	background: #eee;
}

ol {
	list-style-type: decimal-leading-zero;
	margin: 0;
	margin-left: 3.5em;
	margin-top: 0!important;
	margin-bottom: 0!important;
	padding: 0;
	display: inline-block;
	max-width: 97%;
	background-color: rgba(238,238,238,0.9215);
	white-space: pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -hp-pre-wrap;
	word-wrap: break-word;
}
pre code li {
	font-family: Consolas, "Courier New", monospace;
	color: rgba(125, 125, 125, 0.95686);
	background-color: rgba(238,238,238,0.9215);
}
pre code li span {
	color: black;
}
pre code li.highlighted {
	background-color: rgba(0,0,0,0.10196);
}
pre code .comment {
	color: #0066FF;
	font-style: italic;
}
pre code .string {
	color: #009933;
}
pre code .number {
	color: #0066FF;
}
pre code .native {
	color: #0000FF;
	font-weight: bold;
}
pre code .constructs {
	color: #0000FF;
}
pre code .language {
	color: #9700CC;
}
pre code .reserved {
	color: #000000;
	font-weight: bold;
}
pre code .constant {
	color: #6782D3;
}
pre code .function {
	color: #FF8000;
}
pre code .regex {
	color: #FF0080;
}