code .keyword {
	color:#0000FF;
}

code .operator {
	color:black;
	font-weight:bold;
}

code .quote {
	color:#009933;
}

code .comment {
	color:#0066FF;
}
pre {
	color:rgba(150, 150, 150, 0.95686);
	background-color:rgba(238,238,238,0.9215);
	margin:0;
}
pre ol {
	list-style-type:decimal-leading-zero;
	font-family:Consolas, "Courier New";
	margin:0;
	padding:0;
}


pre li {
	background-color:rgba(238,238,238,0.9215);
}

pre li span {
	font-family:Consolas, "Courier New";
	color:black;
}

/* C# */
code.csharp span.quote {
	color:#a31515;
}

code.csharp span.keyword {
	color:#0000ff;
}

code.csharp span.comment {
	color:#008000;
}

/* VB */
code.vb span.comment {
	color:#008000;
}

code.vb span.keyword {
	color:#0000ff;
}

code.vb span.quote {
	color:#a31515;
}

/* PHP */
code.php.highlighted {
	color:#0000BB;
}

code.php span.operator {
	color:#007700;
}

code.php span.quote {
	color:#DD0000;
}

code.php span.comment {
	color:#FF8000;
}