{! Link.base = ""; /* all generated links will be relative to this */ !}
{+subtemplate("subtemplates/head.tmpl", {subtitle: "Javascript Index"})+}
{+subtemplate("subtemplates/menu.tmpl")+}
<div class="content">
    <div class="innerContent">
        <h1 class="classTitle"><span>Javascript Index</span></h1>
        
        <div class="box">
            <ul class="fileList" id="FileList">
                <for each="item" in="data">
                    <li>
                        <h2 class="filename">{+new Link().toClass(item.alias ).withText(item.name)+}</h2>
                        <if test="item.desc">{+resolveLinks(item.desc)+}</if>
                        {+'<div class="hr"></div>'+}
                    </li>
                </for>
            </ul>
        </div>
    </div>
</div>
{+subtemplate("subtemplates/foot.tmpl")+}